@media screen and (max-width: 1024px) {

    h2 {
        font-size: 24px;
    }

    .container {
        padding-left: $container-mobile-padding;
        padding-right: $container-mobile-padding;
    }


    .header {
        padding: 17px 0 15px;

        .container {
            padding-top: 1px;
            padding-bottom: 3px;
        }

        &__logo {
            max-width: 126px;
        }

        &__navigation {
            position: fixed;
            inset: 71px 0 0;
            flex-direction: column;
            padding: 15px 40px 60px;
            background-color: $bg-secondary;

            &-list {
                flex-direction: column;
                margin: 22px auto;
            }

            .btn {
                width: 100%;
                max-width: 320px;
                margin: 0 auto;
                padding: 22px;
                justify-content: center;
            }
        }

        &__navigation-item {
            margin-bottom: 11px;
        }

        &__navigation-item-link {
            font-size: 24px;
            line-height: 222%;
        }
    }


    .banner {
        padding: 0;

        .slick-slide {
            padding: 0 40px;
            height: calc(100vh - 72px);

            &:before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #00000099;
            }

            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 0;
                z-index: 1;
            }
        }

        .btn-lg {
            padding: 19.6px 29px;
        }
    }

    .banner-title {
        font-size: 32px;
        margin-bottom: 10px;
        max-width: 280px;
    }

    .banner-subtitle {
        font-size: 16px;
        margin-bottom: 18px;
        max-width: 260px;
    }

    .container {
        .template-title {
            text-align: center;
            padding-bottom: 20px;
            margin: 0 auto 54px;

            h2 {
                text-align: center;
            }


            &.col-lg-7 {
                &:after {
                    display: block;
                }

                h2:after {
                    display: none;
                }
            }
        }

    }

    .calculation-row .calculation-form {
        margin: 0 auto;
        padding: 48px 30px 34px;
    }


    .calculation-decoration {
        display: none;
    }

    .calculation-row .input-row {
        flex-direction: column;
        gap: 16px;
    }

    .input-column {
        .btn-lg {
            width: 100%;

            .icon {
                margin: 0 -14px 0 auto;
            }
        }
    }

    .calculation-form .column-checkbox {
        padding-top: 8px;
        margin: 0 0 -8px 0;
    }

    section.advantages {
        padding-bottom: 43px;
    }


    .slider-template {
        width: 335px;
        margin: 0 auto;

        .slick-slide {
            margin: 0 15px;
        }
    }


    .first-screen,
    .calculation.charter,
    .advantages,
    .delivery,
    .services {
        margin-bottom: $section-margin;
    }

    .advantages,
    .services,
    .test {
        @include default-bg-mobile;
    }

    .delivery .template-title,
    .services .template-title {
        padding-bottom: 32px;
    }
    
}