@media screen and (max-width: 1199px) {
    .header__navigation-list {
        max-width: 550px;
    }

    .calculation-decoration {
        width: 100%;
        height: 570px;
        object-fit: contain;
        object-position: left;
        margin: 0;
    }
}