.header {
	padding: 25px 0 39px;
	margin: -7px -4px 3px 25px;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		max-width: 172px;
	}

	&__navigation {
		width: 100%;
		display: flex;



		&-item-link {
			color: #fff;
			text-decoration: none;

			&hover {
				color: $color-primary;
			}
		}
	}


	.header__navigation-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 602px;
		width: 100%;
		margin: 0 auto;
		padding: 0;

	}



	.btn {
		margin: -3px 28px 0px 0px;
	}
}

.header__navigation {
	display: none;
}

.btn-burger{
	flex-direction: column;
}