<section class="advantages">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="slider-advantages" class="row">
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-1.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Таможенное оформление груза
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-2.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Страховка груза
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-3.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Проверка товара на брак                        
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-4.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Доставка в любой город Украины
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-5.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Консолидация на складе                        
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-6.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Ответственное хранение груза
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-7.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Помощь в оплате товара
                    </h6>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="advantage">
                    <div class="icon-box">
                        <img src="assets/img/advantage-8.svg" alt="advantage">
                    </div>
                    <h6 class="advantage-description">
                        Упаковка, переупаковка, паллетирование груза к международной перевозке
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>