<section class="first-screen">
    <div id="banner" class="banner container-xxl">
        <div style="background-image: url(assets/img/first-screen-1.png);">
            <div class="container">
                <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                <p class="banner-subtitle">Доставляем любые грузы из Китая по честной цене</p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-2.png); ">
            <div class="container">
                <h2 class="banner-title">Выкуп товара с ТаоБао, 1688</h2>
                <p class="banner-subtitle">Выкуп и доставка товаров с китайских торговых площадок. </p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-3.png);">
            <div class="container">
                <h2 class="banner-title">Экспресс авто доставка</h2>
                <p class="banner-subtitle">Выкуп и доставка товаров с китайских торговых площадок. </p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
        <div style="background-image: url(assets/img/first-screen-4.png);">
            <div class="container">
                <h2 class="banner-title">4. Экспресс авто доставка</h2>
                <p class="banner-subtitle">Выкуп и доставка товаров с китайских торговых площадок. </p>
                <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
            </div>
        </div>
    </div>
    <div class="banner-arrows"></div>
</section>