<header class="header">
    <div class="container">
        <a  href="index.html" class="header__logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="logo">
        </a>
        <nav class="header__navigation">
             <a href="#" class="header__navigation-item">Цены и сроки</a>
            <a href="#" class="header__navigation-item">Услуги</a>
            <a href="#" class="header__navigation-item">О компании</a>
            <a href="#" class="header__navigation-item">Контакты</a>
            <a href="#" class="header__navigation-item">Оформить груз</a>
        </nav>

<button class="btn btn-primary">Оставить заявку</button>

    </div>
</header>

