<header class="header">
    <div class="container">
        <a href="index.html" class="header__logo">
            <img src="assets/img/logo.svg" class="img-fluid" alt="logo">
        </a>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Цены и сроки</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Услуги</a></li>
                <li class="header__navigation-item"> <a href="#" class="header__navigation-item-link">О компании</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Контакты</a></li>
                <li class="header__navigation-item"><a href="#" class="header__navigation-item-link">Оформить груз</a></li>
            </ul>
            <button class="btn btn-primary">Оставить заявку</button>
        </nav>
        <button class="btn-burger">burger</button>
    </div>
    
</header>