<section class="services">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-template">
            <div>
                <div style="background-image: url(assets/img/services-1.png);" class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-1.png" class="img-fluid card-img" alt="services">
                    </div>
                    <h4 class="template-card__title">Выкуп товара</h4>
                    <h6 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                   
                    <div class="template-card-btn-row">
                      
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div style="background-image: url(assets/img/services-2.png);" class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-2.png" class="img-fluid card-img" alt="services">
                    </div>
                    <h4 class="template-card__title">Страховка груза</h4>
                    <h6 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                   
                    <div class="template-card-btn-row">
                      
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div style="background-image: url(assets/img/services-3.png);" class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-3.png" class="img-fluid card-img" alt="services">
                    </div>
                    <h4 class="template-card__title">Авто - обычная</h4>
                    <h6 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                   
                    <div class="template-card-btn-row">
                      
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
            <div>
                <div style="background-image: url(assets/img/services-4.png);" class="template-card">
                    <div class="img-box">
                        <img src="assets/img/services-4.png" class="img-fluid card-img" alt="services">
                    </div>
                    <h4 class="template-card__title">Перевод денежных средств</h4>
                    <h6 class="template-card__subtitle">Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. </h6>
                   
                    <div class="template-card-btn-row">
                      
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>